.profile-card {
    background-color: $container-color;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
    margin: 1rem auto;
    padding: 1rem 1.5rem;
    
    img {
        max-width: 6rem;
        border-radius: 30rem;
        margin-bottom: .75rem;
    }

    @media screen and (min-width: 517px) {
        img {
            max-width: 7rem;
        }
    }

    .img__card-title {
        font-size: $normal-font-size;
    }
    
    
    .img__card-subtitle {
        font-size: $smaller-font-size;
    }
    
    @media screen and (min-width: 517px) {
        .img__card-title {
            font-size: $h2-font-size;
        }
        
        .img__card-subtitle {
            font-size: $small-font-size;
        }
    }
}